<div class="table-responsive col-12">
  <table class="table table-dark table-striped">
    <thead>
      <th>
        Product Details
      </th>
    </thead>
    <tbody class="">
      <tr>
        <td>ProductId</td>
        <td>{{product.ProductId}}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{product.Category}}</td>
      </tr>
      <tr>
        <td>MainCategory</td>
        <td>{{product.MainCategory}}</td>
      </tr>
      <tr> 
        <td>TaxTarifCode</td>
        <td>{{product.TaxTarifCode}}</td>
      </tr>
      <tr>
        <td>SupplierName</td>
        <td>{{product.SupplierName}}</td>
      </tr>
    </tbody>
  </table>
</div>