<div class="conatainer">
    <div class="row">
      <h2 class="col-12 bg-dark text-whit d-flex justify-content-around">
        <a routerLink="/ghar"  routerLinkActive="px-2" [routerLinkActiveOptions]="{exact: true}" class="text-decoration-none text-light">Home</a>
        <a routerLink="/products" routerLinkActive="px-2" class="text-decoration-none text-light">ProductList</a>
        <a routerLink="/employees" routerLinkActive="px-2" class="text-decoration-none text-light">Employee</a>
        <a routerLink="/department" routerLinkActice="px-2" class="text-decoration-none text-light">Department</a>
      </h2>
      <div class="col-12">
        <!-- <router-outlet></router-outlet> -->
        <app-ou1></app-ou1>
        <app-in1></app-in1>
      </div>
    </div>
  </div>
  