<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="getData()">Fetch Weather</button>
      <div class="list-group">
        <li class="list-group-item" *ngIf='!isFetching'>
          Description: {{weatherData.weather[0].description}}
        </li>
        <li class="list-group-item list-group-item-warning" *ngIf='isFetching'>
          Loading...
        </li>
      </div>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->